$red: #F54F2D;
$dark_red: #DE4627;
$light_yellow: #FACA99;

@import "compass/reset";

@font-face {
  font-family: "Honda";
  src: url('../fonts/honda.eot');
  src: url('../fonts/honda.eot?#iefix') format('embedded-opentype'),
  url('../fonts/honda.svg#Honda') format('svg'),
  url('../fonts/honda.woff') format('woff'),
  url('../fonts/honda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  min-width: 400px;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

nav {
  font-family: Honda, Serif;
  z-index: 100;
  font-size: 20px;
  color: black;
  width: 20px;
  word-break: break-all;
  text-transform: uppercase;
  text-align: center;
  a {
    color: black;
  }
  li {
    position: fixed;
    z-index: 100;
    width: 12px;
    line-height: 0.9em;
    label {
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
    }
    &#NavAbout {
      top: 6%;
      left: 10%;
    }
    &#NavStockists {
      bottom: 10%;
      left: 10%;
    }
    &#NavShop {
      top: 6%;
      right: 10%;
    }
    &#NavContact {
      bottom: 10%;
      right: 10%;
    }
  }
}

input[type=radio] {
  position: fixed;
  z-index: 1000;
  left: -1000px;
}

#AboutRadio:checked ~ nav {
  li a {
    color: black;
  }

  li#NavAbout a {
    color: white;
  }
}

#StockistsRadio:checked ~ nav {
  li a {
    color: $light_yellow;
  }

  li#NavStockists a {
    color: white;
  }
}

#ShopRadio:checked ~ nav {
  li a {
    color: $red;
  }

  li#NavShop a {
    color: white;
  }
}

#ContactRadio:checked ~ nav {
  li a {
    color: black;
  }

  li#NavContact a {
    color: white;
  }
}

@media all and (min-height: 500px) {
  nav {
    font-size: 24px;
  }
}

@media all and (min-height: 600px) {
  nav {
    font-size: 32px;
  }
}

@media all and (min-height: 700px) {
  nav {
    font-size: 36px;
  }
}

aside {
  min-width: 400px;
  height: 4000px;
  background: no-repeat center fixed;
  background-size: 100% auto;
  &#IntroSection {
    height: 1200px;
  }
  &#About {
    margin-top: 0px;
    padding-top: 50px;
    height: 3200px;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
 body {
  background-color: $dark_red;
 }
 aside {
    background-attachment: scroll;
  }
  #Marfa {
    background-color: $dark_red;
  }

  #Marfa2 {
    
  }

  #Marfa3 {
    
  }

  #Marfa4 {
    
  }
}

#IntroSection {
  padding-top: 1200px;
}

.TextBlock {
  width: 300px;
  margin: 0 auto;
  padding: 50px 50px 70px;
  background: white;
  font-family: Honda, Serif;
  text-align: center;
  font-size: 64px;
  line-height: 1.1em;
}

#Marfa {
  background-image: url(../img/bigbg@2x.png);
  height: 4000px;
}

#Marfa2 {
  background-image: url(../img/bigbg2@2x.png);
}

#Marfa3 {
  background-image: url(../img/bigbg3@2x.png);
}

#Marfa4 {
  background-image: url(../img/bigbg4@2x.png);
}

.Layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

#Layer1 {
  z-index: 1;
}

#Layer2 {
  z-index: 2;
}

#Layer3 {
  z-index: 3;
  h1 {
    width: 300px;
    background: white;
    margin: 0 auto;
    font-size: 26px;
    text-align: center;
    padding: 50px;
    position: relative;
    margin-top: 1450px;
    margin-bottom: 800px;
  }
}

.BgImage {
  background-size: 55% auto;
  background-position: center;
  background-attachment: fixed;
  min-width: 400px;
  margin: 0 auto;
  position: relative;
  top: 100%;
  height: 1100px;
}

#Intro {
  background-image: url(http://marfajournal.com/images/kit_run.gif);
  background-color: white;
  background-size: 20% auto;
  background-position: center;
  background-attachment: fixed;
  height: 1200px;
}

#Next {
  background-position: bottom;
  background-attachment: scroll;
  background-color: #DE4627;
  background-size: 100% auto;
}
#Red {
  background-color: $dark_red;
  height: 2400px;
}
#White {
  background-color: $light_yellow;
  background-size: 120%;
  height: 6200px;
}

#AboutText {
  display: block;
  width: 542px;
  height: auto;
  margin: 0px auto 400px;
}

#Cabinet {
  display: block;
  width: 200px;
  margin: 600px auto 500px;
}

#Robez {
  display: block;
  width: 200px;
  margin: 600px auto;
}