/* line 17, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
    Example usage: 
    @include animation(10s, 5s, changecolour)
 */
@-webkit-keyframes blink {
  /* line 42, ../sass/marfa.scss */
  0% {
    color: #f54f2d;
  }

  /* line 46, ../sass/marfa.scss */
  50% {
    color: white;
  }

  /* line 50, ../sass/marfa.scss */
  100% {
    color: #f54f2d;
  }
}

@-moz-keyframes blink {
  /* line 42, ../sass/marfa.scss */
  0% {
    color: #f54f2d;
  }

  /* line 46, ../sass/marfa.scss */
  50% {
    color: white;
  }

  /* line 50, ../sass/marfa.scss */
  100% {
    color: #f54f2d;
  }
}

@-o-keyframes blink {
  /* line 42, ../sass/marfa.scss */
  0% {
    color: #f54f2d;
  }

  /* line 46, ../sass/marfa.scss */
  50% {
    color: white;
  }

  /* line 50, ../sass/marfa.scss */
  100% {
    color: #f54f2d;
  }
}

@keyframes blink {
  /* line 42, ../sass/marfa.scss */
  0% {
    color: #f54f2d;
  }

  /* line 46, ../sass/marfa.scss */
  50% {
    color: white;
  }

  /* line 50, ../sass/marfa.scss */
  100% {
    color: #f54f2d;
  }
}

@font-face {
  font-family: "Honda";
  src: url("../fonts/honda.eot");
  src: url("../fonts/honda.eot?#iefix") format("embedded-opentype"), url("../fonts/honda.svg#Honda") format("svg"), url("../fonts/honda.woff") format("woff"), url("../fonts/honda.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger";
  src: url("../fonts/FrutigerLTCom-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 73, ../sass/marfa.scss */
body, html {
  min-width: 400px;
  height: 100%;
  font-family: Frutifer, sans-serif;
}

/* line 79, ../sass/marfa.scss */
a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

/* line 85, ../sass/marfa.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Honda, serif;
}

/* line 89, ../sass/marfa.scss */
nav {
  font-family: Honda, serif;
  z-index: 100;
  font-size: 20px;
  color: black;
  width: 20px;
  word-break: break-all;
  text-transform: uppercase;
  text-align: center;
}
/* line 98, ../sass/marfa.scss */
nav a {
  color: black;
}
/* line 101, ../sass/marfa.scss */
nav li {
  position: fixed;
  z-index: 100;
  width: 12px;
  line-height: 0.9em;
}
/* line 106, ../sass/marfa.scss */
nav li label {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
/* line 111, ../sass/marfa.scss */
nav li#NavAbout {
  top: 6%;
  left: 10%;
}
/* line 115, ../sass/marfa.scss */
nav li#NavStockists {
  bottom: 10%;
  left: 10%;
}
/* line 119, ../sass/marfa.scss */
nav li#NavShop {
  top: 6%;
  right: 10%;
}
/* line 123, ../sass/marfa.scss */
nav li#NavContact {
  bottom: 10%;
  right: 10%;
}
/* line 127, ../sass/marfa.scss */
nav li#NavDaily {
  width: 100px;
  position: fixed;
  top: 40%;
  left: 10%;
  margin-left: -40px;
  font-size: 0.7em;
  display: none;
}
/* line 136, ../sass/marfa.scss */
nav li#Insta {
  width: 100px;
  position: fixed;
  top: 40%;
  right: 10%;
  margin-right: -40px;
  font-size: 0.7em;
}

/* line 147, ../sass/marfa.scss */
input[name=navSelect] {
  position: fixed;
  z-index: 1000;
  left: -1000px;
}

/* line 154, ../sass/marfa.scss */
#AboutRadio:checked ~ nav li a {
  color: black;
}
/* line 158, ../sass/marfa.scss */
#AboutRadio:checked ~ nav li#NavAbout a {
  color: white;
}

/* line 164, ../sass/marfa.scss */
#StockistsRadio:checked ~ nav li a {
  color: #007487;
}
/* line 168, ../sass/marfa.scss */
#StockistsRadio:checked ~ nav li#NavStockists a {
  color: white;
}

/* line 174, ../sass/marfa.scss */
#ShopRadio:checked ~ nav li a {
  color: #f54f2d;
}
/* line 178, ../sass/marfa.scss */
#ShopRadio:checked ~ nav li#NavShop a {
  color: white;
}

/* line 184, ../sass/marfa.scss */
#ContactRadio:checked ~ nav li a {
  color: black;
}
/* line 188, ../sass/marfa.scss */
#ContactRadio:checked ~ nav li#NavContact a {
  color: white;
}

@media all and (min-height: 500px) {
  /* line 194, ../sass/marfa.scss */
  nav {
    font-size: 24px;
  }
}
@media all and (min-height: 600px) {
  /* line 200, ../sass/marfa.scss */
  nav {
    font-size: 32px;
  }
}
@media all and (min-height: 700px) {
  /* line 206, ../sass/marfa.scss */
  nav {
    font-size: 36px;
  }
}
/* line 211, ../sass/marfa.scss */
aside {
  min-width: 400px;
  height: 4000px;
  background: no-repeat center fixed;
  background-size: 100% auto;
  position: relative;
  text-align: center;
}
/* line 218, ../sass/marfa.scss */
aside#IntroSection {
  height: 800px;
}
/* line 221, ../sass/marfa.scss */
aside#About {
  margin-top: 0px;
  padding-top: 50px;
  height: 7500px;
}
/* line 226, ../sass/marfa.scss */
aside#About h1 {
  top: 290px;
}
/* line 230, ../sass/marfa.scss */
aside#About #Aerobics {
  display: block;
  margin: 50px auto 250px;
}
/* line 235, ../sass/marfa.scss */
aside#About #Skate {
  margin-top: 200px;
}
/* line 239, ../sass/marfa.scss */
aside#Shop {
  padding-top: 12%;
  height: 1800px;
}
/* line 242, ../sass/marfa.scss */
aside#Shop h1 {
  top: 420px;
  font-size: 72px;
}
/* line 246, ../sass/marfa.scss */
aside#Shop h2 {
  font-size: 56px;
  text-transform: uppercase;
  color: white;
  margin: 50px 0;
  -webkit-animation: blink 500ms linear;
  -webkit-animation-iteration-count: infinite;
}
/* line 254, ../sass/marfa.scss */
aside#Stockists {
  padding-top: 8%;
}
/* line 256, ../sass/marfa.scss */
aside#Stockists h1 {
  top: 300px;
  font-size: 72px;
}
/* line 261, ../sass/marfa.scss */
aside h1 {
  color: white;
  font-size: 100px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 290px;
  text-transform: uppercase;
}
/* line 272, ../sass/marfa.scss */
aside .Images img {
  width: 250px;
  margin: 50px;
}
/* line 275, ../sass/marfa.scss */
aside .Images img.horz {
  width: 500px;
}

/* line 282, ../sass/marfa.scss */
#StockistsList {
  width: 700px;
  margin: 0 auto;
  color: black;
}
/* line 287, ../sass/marfa.scss */
#StockistsList ul {
  margin: 0;
  padding: 0;
}
/* line 291, ../sass/marfa.scss */
#StockistsList label {
  font-family: Honda, serif;
  font-size: 56px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 2px;
  color: white;
  clear: both;
  padding-top: 50px;
  display: block;
}
/* line 305, ../sass/marfa.scss */
#StockistsList a, #StockistsList span {
  padding: 10px;
  display: inline-block;
  color: black;
}
/* line 311, ../sass/marfa.scss */
#StockistsList a:hover {
  text-decoration: underline;
}
/* line 315, ../sass/marfa.scss */
#StockistsList header {
  clear: both;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 10px;
  letter-spacing: 2px;
  padding: 40px 0 0px;
  line-height: 1em;
  text-align: left;
  color: white;
}
/* line 327, ../sass/marfa.scss */
#StockistsList .info {
  position: absolute;
  left: auto;
  display: none;
  padding: 10px;
  background: white;
  font-size: .8em;
  color: #666;
  width: 150px;
  line-height: 1.3em;
}
/* line 338, ../sass/marfa.scss */
#StockistsList li > ul > li {
  position: relative;
  float: left;
  width: 300px;
  margin: 0px 20px;
  text-align: left;
  cursor: default;
}
/* line 345, ../sass/marfa.scss */
#StockistsList li > ul > li:hover {
  z-index: 10;
}
/* line 347, ../sass/marfa.scss */
#StockistsList li > ul > li:hover a, #StockistsList li > ul > li:hover span {
  background: white;
}
/* line 350, ../sass/marfa.scss */
#StockistsList li > ul > li:hover .info {
  display: inline-block;
}
/* line 355, ../sass/marfa.scss */
#StockistsList ul {
  display: block;
}
/* line 358, ../sass/marfa.scss */
#StockistsList input {
  position: absolute;
  opacity: 0;
}
/* line 364, ../sass/marfa.scss */
#StockistsList input:checked ~ header,
#StockistsList input:checked ~ ul {
  display: block;
}

/* line 371, ../sass/marfa.scss */
.Chateau {
  width: 600px;
  margin: 0 auto;
  line-height: 20px;
}
/* line 375, ../sass/marfa.scss */
.Chateau p {
  margin: 15px 0;
}
/* line 378, ../sass/marfa.scss */
.Chateau .question {
  font-family: Honda, serif;
  font-size: 20px;
  color: #00a2b4;
  letter-spacing: 2px;
  text-align: center;
  font-style: normal;
  line-height: 1.1em;
}
/* line 387, ../sass/marfa.scss */
.Chateau .answer {
  font-family: Frutifer, sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 1px;
  text-align: left;
  top: 0px;
  left: 0px;
  background: #f2f7ec url(../img/chateau.png) top center no-repeat;
  border-image-repeat: none;
  padding-top: 1px;
}
/* line 400, ../sass/marfa.scss */
.Chateau .text {
  font-family: Frutifer, sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 1px;
  text-align: justify;
  position: relative;
  margin-left: 70px;
  margin-top: 170px;
  margin-right: 70px;
  padding-bottom: 60px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 417, ../sass/marfa.scss */
  body {
    background-color: white;
  }

  /* line 420, ../sass/marfa.scss */
  aside {
    background-attachment: scroll;
  }

  /* line 423, ../sass/marfa.scss */
  #Marfa {
    background-color: #de4627;
  }
}
/* line 440, ../sass/marfa.scss */
#IntroSection {
  padding-top: 1200px;
}

/* line 444, ../sass/marfa.scss */
.TextBlock {
  width: 280px;
  margin: 0 auto;
  padding: 50px 50px 60px;
  background: white;
  color: black;
  font-family: Honda, serif;
  text-align: center;
  font-size: 64px;
  line-height: 1em;
}
/* line 454, ../sass/marfa.scss */
.TextBlock#Insane {
  text-transform: uppercase;
  width: 500px;
  font-size: 56px;
  line-height: 1.2em;
  padding: 20px;
  margin-top: 380px;
}

/* line 464, ../sass/marfa.scss */
#Marfa {
  background-image: url(../img/bigbg@2x.png);
  height: 9500px;
}

/* line 469, ../sass/marfa.scss */
#Marfa2 {
  background-image: url(../img/bigbg2@2x.png);
  height: 2000px;
}

/* line 474, ../sass/marfa.scss */
#Marfa3 {
  background-image: url(../img/bigbg3@2x.png);
}

/* line 478, ../sass/marfa.scss */
#Marfa4 {
  background-image: url(../img/bigbg4@2x.png);
}

/* line 482, ../sass/marfa.scss */
.Layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 488, ../sass/marfa.scss */
#Layer1 {
  z-index: 1;
}

/* line 492, ../sass/marfa.scss */
#Layer2 {
  z-index: 2;
}

/* line 496, ../sass/marfa.scss */
#Layer3 {
  z-index: 3;
}

/* line 501, ../sass/marfa.scss */
.BgImage {
  background-size: 55% auto;
  background-position: center;
  background-attachment: fixed;
  min-width: 400px;
  margin: 0 auto;
  position: relative;
  top: 100%;
  height: 1100px;
}

/* line 512, ../sass/marfa.scss */
#Intro {
  background-image: url(http://marfajournal.com/images/kit_run.gif);
  background-color: white;
  background-size: 20% auto;
  background-position: center;
  background-attachment: fixed;
  height: 1200px;
}

/* line 520, ../sass/marfa.scss */
#Red {
  background-color: #de4627;
  height: 3400px;
}

/* line 524, ../sass/marfa.scss */
#Bra {
  background-image: url(../img/marfa7.jpg);
  background-size: 60%;
  background-color: #de4627;
  height: 2000px;
}

/* line 530, ../sass/marfa.scss */
#Caught {
  background-size: 60%;
  background-color: #de4627;
  height: 2900px;
}

/* line 535, ../sass/marfa.scss */
#Next {
  background-position: bottom;
  background-attachment: scroll;
  background-color: #DE4627;
  background-size: 100% auto;
}

/* line 542, ../sass/marfa.scss */
#White {
  background-color: #007487;
  height: 4000px;
}

/* line 547, ../sass/marfa.scss */
#AboutText {
  display: block;
  width: 542px;
  height: auto;
  margin: 0px auto 400px;
}

/* line 554, ../sass/marfa.scss */
#Cabinet {
  display: block;
  width: 200px;
  margin: 600px auto 500px;
}

/* line 560, ../sass/marfa.scss */
#ShopGif {
  display: block;
  width: 200px;
  margin: 40px auto 300px;
}

/* line 566, ../sass/marfa.scss */
#Covers {
  background: white;
  border: 50px solid white;
}

/* line 571, ../sass/marfa.scss */
#StockistsGif {
  width: 200px;
  display: block;
  margin: 40px auto;
}
