/* line 17, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Honda";
  src: url("../fonts/honda.eot");
  src: url("../fonts/honda.eot?#iefix") format("embedded-opentype"), url("../fonts/honda.svg#Honda") format("svg"), url("../fonts/honda.woff") format("woff"), url("../fonts/honda.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 18, ../sass/marfa.scss */
body, html {
  min-width: 400px;
  height: 100%;
}

/* line 23, ../sass/marfa.scss */
a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

/* line 29, ../sass/marfa.scss */
nav {
  font-family: Honda, Serif;
  z-index: 100;
  font-size: 24px;
  color: black;
  width: 20px;
  word-break: break-all;
  text-transform: uppercase;
  text-align: center;
}
/* line 38, ../sass/marfa.scss */
nav a {
  color: black;
}
/* line 41, ../sass/marfa.scss */
nav li {
  position: fixed;
  z-index: 100;
  width: 12px;
  line-height: 0.9em;
}
/* line 46, ../sass/marfa.scss */
nav li label {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
/* line 51, ../sass/marfa.scss */
nav li#NavAbout {
  top: 10%;
  left: 10%;
}
/* line 55, ../sass/marfa.scss */
nav li#NavStockists {
  bottom: 10%;
  left: 10%;
}
/* line 59, ../sass/marfa.scss */
nav li#NavShop {
  top: 10%;
  right: 10%;
}
/* line 63, ../sass/marfa.scss */
nav li#NavContact {
  bottom: 10%;
  right: 10%;
}

/* line 70, ../sass/marfa.scss */
input[type=radio] {
  position: fixed;
  z-index: 1000;
  left: -1000px;
}

/* line 77, ../sass/marfa.scss */
#AboutRadio:checked ~ nav li a {
  color: black;
}
/* line 81, ../sass/marfa.scss */
#AboutRadio:checked ~ nav li#NavAbout a {
  color: white;
}

/* line 87, ../sass/marfa.scss */
#StockistsRadio:checked ~ nav li a {
  color: #faca99;
}
/* line 91, ../sass/marfa.scss */
#StockistsRadio:checked ~ nav li#NavStockists a {
  color: white;
}

/* line 97, ../sass/marfa.scss */
#ShopRadio:checked ~ nav li a {
  color: #f54f2d;
}
/* line 101, ../sass/marfa.scss */
#ShopRadio:checked ~ nav li#NavShop a {
  color: white;
}

/* line 107, ../sass/marfa.scss */
#ContactRadio:checked ~ nav li a {
  color: black;
}
/* line 111, ../sass/marfa.scss */
#ContactRadio:checked ~ nav li#NavContact a {
  color: white;
}

@media all and (min-height: 500px) {
  /* line 117, ../sass/marfa.scss */
  nav {
    font-size: 28px;
  }
}
@media all and (min-height: 600px) {
  /* line 123, ../sass/marfa.scss */
  nav {
    font-size: 36px;
  }
}
@media all and (min-height: 700px) {
  /* line 129, ../sass/marfa.scss */
  nav {
    font-size: 40px;
  }
}
/* line 134, ../sass/marfa.scss */
aside {
  min-width: 400px;
  height: 4000px;
  background: no-repeat center fixed;
  background-size: 100% auto;
}
/* line 139, ../sass/marfa.scss */
aside#IntroSection {
  height: 1200px;
}
/* line 142, ../sass/marfa.scss */
aside#About {
  margin-top: 0px;
  padding-top: 50px;
  height: 3200px;
}

/* line 149, ../sass/marfa.scss */
#IntroSection {
  padding-top: 1200px;
}

/* line 153, ../sass/marfa.scss */
.TextBlock {
  width: 300px;
  margin: 0 auto;
  padding: 50px 50px 70px;
  background: white;
  font-family: Honda, Serif;
  text-align: center;
  font-size: 64px;
  line-height: 1.1em;
}

/* line 164, ../sass/marfa.scss */
#Marfa {
  background-image: url(../img/bigbg@2x.png);
  height: 4000px;
}

/* line 169, ../sass/marfa.scss */
#Marfa2 {
  background-image: url(../img/bigbg2@2x.png);
}

/* line 173, ../sass/marfa.scss */
#Marfa3 {
  background-image: url(../img/bigbg3@2x.png);
}

/* line 177, ../sass/marfa.scss */
#Marfa4 {
  background-image: url(../img/bigbg4@2x.png);
}

/* line 181, ../sass/marfa.scss */
.Layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 187, ../sass/marfa.scss */
#Layer1 {
  z-index: 1;
}

/* line 191, ../sass/marfa.scss */
#Layer2 {
  z-index: 2;
}

/* line 195, ../sass/marfa.scss */
#Layer3 {
  z-index: 3;
}
/* line 197, ../sass/marfa.scss */
#Layer3 h1 {
  width: 300px;
  background: white;
  margin: 0 auto;
  font-size: 26px;
  text-align: center;
  padding: 50px;
  position: relative;
  margin-top: 1450px;
  margin-bottom: 800px;
}

/* line 210, ../sass/marfa.scss */
.BgImage {
  background-size: 55% auto;
  background-position: center;
  background-attachment: fixed;
  min-width: 400px;
  margin: 0 auto;
  position: relative;
  top: 100%;
  height: 1100px;
}

/* line 221, ../sass/marfa.scss */
#Intro {
  background-image: url(http://marfajournal.com/images/kit_run.gif);
  background-color: white;
  background-size: 20% auto;
  background-position: center;
  background-attachment: fixed;
  height: 1200px;
}

/* line 230, ../sass/marfa.scss */
#Next {
  background-position: bottom;
  background-attachment: scroll;
  background-color: #DE4627;
  background-size: 100% auto;
}

/* line 236, ../sass/marfa.scss */
#Red {
  background-color: #de4627;
  height: 2400px;
}

/* line 240, ../sass/marfa.scss */
#White {
  background-color: #faca99;
  background-size: 120%;
  height: 5500px;
}

/* line 246, ../sass/marfa.scss */
#AboutText {
  display: block;
  width: 542px;
  height: auto;
  margin: 0px auto 400px;
}

/* line 253, ../sass/marfa.scss */
#Cabinet {
  display: block;
  width: 200px;
  margin: 600px auto 500px;
}

/* line 259, ../sass/marfa.scss */
#Robez {
  display: block;
  width: 200px;
  margin: 600px auto;
}
